c-header{
    display: block;
    height: 73px;
    ion-header{
        background: map-get($colors, header);
        ion-buttons{
            button{
                &.button-default{
                    background-color: transparent;
                    box-shadow: none;
                    &.activated{
                        background-color: transparent;
                    }
                    ion-icon{
                       &.icon{
                           font-size:35px;
                       } 
                    }
                }
                &:hover:not(.disable-hover){
                    background-color: transparent;
                }
            }
        }
    }
}