c-footer{
    ion-footer{
        display: block;
        height: 50px;
        background: map-get($colors, footer);
        ion-grid{
            &.grid{
                height: 100%;
                justify-content: center;
                ion-row{
                    &.row{
                        ion-col{
                            &.col{
                                span{
                                    color: $white;
                                    font-family: Ubuntu-B;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
}